<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Meta -->
    <meta name="description" content="Indie maker, digital entrepreneur, design mentor, pizza chef, movie buff and mother of cats.">
    <title>{{ title }}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Scripts -->
    <script defer src="https://unpkg.com/@alpinejs/ui@3.10.5-beta.8/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.10.5/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>

  </head>
  <body class="bg-secondary_darkest">
    <div x-cloak x-data="{ openmenu:false }">
      {% include "header.html" %}

      {{ content | safe }}

      {% include "footer.html" %}
    </div>
  </body>
</html>